In [102]:
print("Name : ")
print("This is a CSV of more than 1300 rows which has bmi data.")
print("The task is to find out what is the percentage of people who are underweight and healthy. And plot a pie chart around it")
print("Another task is to find out what is the percentage of male and female who are underweight and healthy. And plot a pie chart around it")

Name :
This is a CSV of more than 1300 rows which has bmi data.
The task is to find out what is the percentage of people who are underweight and healthy. And plot a pie chart around it
Another task is to find out what is the percentage of male and female who are underweight and healthy. And plot a pie chart around it

In [1]:
#BMI Data

#predefine code
import pandas as pd
import matplotlib .pyplot as plt

dataframe = pd.read_csv("bmi.csv")
df = dataframe.dropna()
bmi = df['bmi']
df

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [1]:
#Task 1
#How many people are underweight and create a dataframe out of it

In [2]:
#Task 2
#How many people have normal weight and create a dataframe out of it

In [3]:
#Task 3
#Plot a pie chart as per the percentage of people who are underweight and healthy.

In [4]:
#Task 4
#Group by the gender from underweight dataframe and create another data frame out of it

In [5]:
#Task 5
#Plot a pie chart as per the percentage of male and female who are underweight

In [6]:
#Task 6
#Group by the gender from healthy weight dataframe and create another data frame out of it

In [7]:
#Task 7
#Plot a pie chart as per the percentage of male and female who are healthy